extends layout

block content
  h1= title
  p Welcome to #{title}
  P This is an app to get a deck of cards it has the following end points 
  P POST /deck/new will return a full deck of cards if you provide the an JSON option
    {"shuffle": true} to get a shuffled deck.

  P GET /deck/:uid will return a full deck of cards
  P POST /deck/:uid will give you a chance to deal the deck by posting a JSON option 
  {"count": number of cards you want}. the deck will reshuffle after all cards are dealt out
  

